<div style="text-align:center;">
  <img src=<%=@blog.hero_image%> class="img-fluid" >
  <h1><%=@blog.title%></h1>
  <h4><%=@blog.subtitle%></h4>
  <%@blog.contents.each do |c| %>
    <%if c.content_type == 'text'%>
    <div id="content-<%=c.id%>" class="content">
      <p><%=c.value%></p>
    </div>
    <%elsif c.content_type == 'image'%>
    <div id="content-<%=c.id%>" class="content">
      <img src=<%=c.value%> height="50%" width="50%">
    </div>
    <%elsif c.content_type == 'video'%>
     <div id="content-<%=c.id%>" class="content">
        <iframe width="700" height="500"
          src=<%=c.value%>>
        </iframe>
    </div>
    <%end%>
  <%end%>
</div>

